/* Bootstrap Personalistion
 */
.nav-pills .nav-link {
    border-radius: 50px;
    /*   color: #04a5e5; */
    border: solid 1px var(--bs-blue);
    margin: 1px;
}


/* Css Personnalisation
 */

a {
    color: #0d6efd;
    font-weight: 600;
    text-decoration: none;

}

.Card {
    padding: 15px;
    border: solid 1px rgb(200, 197, 197);
    border-radius: 12px;
}

.div-elem-disp {
    border: 1px dashed #d8dde1;
    border-radius: 8px;
    padding: .5rem .75rem;
}

h1 {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav {
    margin-bottom: 1rem;
}

h2 {
    font-size: large;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 360px) {
    .btn-sm {
        padding: .25rem .45rem;
        font-size: .8rem;
    }
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: Poppins;
}